---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.gobold.com/v1/recipients
    body:
      encoding: UTF-8
      string: remote_id=test-slug&type=individual&email=test-user%40example.com
    headers:
      Api-Key:
      - 5hWqzjC1B7udHWgE440YsHM7gH9IWjRbkL9XOyNoDpwm0U49sRTrarJwJwFd50TCNEGExnKRaHCRL2ItrpabfnPgY5
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9b-ff973a4f"
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Input failed validation.","type":"invalid_request_error","code":422,"validation":{"email":{"messages":["Email
        is already in use."]}}}}'
  recorded_at: Wed, 28 Dec 2016 17:57:39 GMT
recorded_with: VCR 3.0.3
