---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.gobold.com/v1/recipients/5848a14e4427b9090041ccde
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - 5hWqzjC1B7udHWgE440YsHM7gH9IWjRbkL9XOyNoDpwm0U49sRTrarJwJwFd50TCNEGExnKRaHCRL2ItrpabfnPgY5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"326-40f7bea0"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"5848a14e4427b9090041ccde","kyc_level":0,"requires_kyc_level":2,"locale":"en_US","remote_id":"eli-fat","primary_wallet_id":"5848a1e4ae6b830700d8ad88","status":"active","verified":"verified","type":"individual","name":"","first_name":"Eli","last_name":"Fatsi","email":"eli@example.com","registration_office":"","occupation":"","facebook":"","revenue":"","legal_structure":"","industry":"","place_of_birth":"","nationality":"","gender":"","country":"US","description":"","address":"123
        Fake St","city":"Boulder","state":"CO","postalcode":"80123","tags":"","dob_year":1990,"dob_month":6,"dob_day":12,"ofac_at":1481154927,"created_at":1481154894,"updated_at":1481154927,"accepted_terms":true,"onboard_step":"success","onboard":"complete","onboard_at":1481154904,"restricted_international":false}}'
  recorded_at: Thu, 08 Dec 2016 16:01:18 GMT
- request:
    method: get
    uri: https://api-sandbox.gobold.com/v1/recipients/5848a14e4427b9090041ccde/wallets
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - 5hWqzjC1B7udHWgE440YsHM7gH9IWjRbkL9XOyNoDpwm0U49sRTrarJwJwFd50TCNEGExnKRaHCRL2ItrpabfnPgY5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"108-772c14ff"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"5848a1e4ae6b830700d8ad88","client_id":"5813abe6c06d0c080051b2b7","recipient_id":"5848a14e4427b9090041ccde","type":"bank","sub_type":"local","status":"active","country":"US","name":"","last4":"4321","updated_at":1481155044,"created_at":1481155044}]}'
  recorded_at: Thu, 08 Dec 2016 18:38:52 GMT
- request:
    method: get
    uri: https://api-sandbox.gobold.com/v1/recipients//5848a14e4427b9090041ccde
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - 5hWqzjC1B7udHWgE440YsHM7gH9IWjRbkL9XOyNoDpwm0U49sRTrarJwJwFd50TCNEGExnKRaHCRL2ItrpabfnPgY5
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"47-c15ab2f8"
    body:
      encoding: UTF-8
      string: '{"code":404,"name":"NotFoundError","error":{},"type":"not_found_error"}'
  recorded_at: Thu, 08 Dec 2016 19:12:34 GMT
recorded_with: VCR 3.0.3
