---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.gobold.com/v1/recipients/oh-boy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - 5hWqzjC1B7udHWgE440YsHM7gH9IWjRbkL9XOyNoDpwm0U49sRTrarJwJwFd50TCNEGExnKRaHCRL2ItrpabfnPgY5
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c1-29d9d4b3"
    body:
      encoding: UTF-8
      string: '{"error":{"message":{"message":"Cast to ObjectId failed for value \"oh-boy\"
        at path \"_id\"","name":"CastError","type":"ObjectId","value":"oh-boy","path":"_id"},"type":"api_error","code":500}}'
  recorded_at: Thu, 08 Dec 2016 16:36:03 GMT
recorded_with: VCR 3.0.3
